streamlit_option_menu
acres
aiofiles
altair
altgraph
annotated-types
anyio
arabic-reshaper
argon2-cffi
arrow
asgiref
asttokens
async-lru
attrs
auto-py-to-exe
babel
beautifulsoup4
bleach
blinker
branca
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
configobj
configparser
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
deprecation
Django
easyocr
eel
entrypoints
et_xmlfile
executing
Faker
fastjsonschema
favicon
filelock
fitz
folium
fonttools
fpdf2
fqdn
fsspec
future
gevent
gevent-websocket
gitdb
GitPython
greenlet
h11
htbuilder
htmlmin
httpcore
httplib2
httpx
huggingface-hub
idna
ImageHash
imageio
imbalanced-learn
imblearn
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isodate
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyterlab
kiwisolver
lxml
Markdown
markdown-it-py
markupSafe
matplotlib
matplotlib-inline
missingno
mistune
more-itertools
mpmath
nbconvert
nbformat
nest-asyncio
networkx
nibabel
numpy
oauthlib
opencv-python==4.5.5.64
openpyxl
opt-einsum
outcome
overrides
packaging
pandas
pandas-profiling
passporteye
patsy
pdf2image
pdfkit
pdfminer
pefile
phik
pillow
platformdirs
plotly
prometheus_client
protobuf
psutil
psycopg2-binary
pyarrow
pyclipper
pycryptodome
pydantic
pydeck
pydot
pyinstaller
pyjwt
pymdown-extensions
PyMuPDF
pyodbc
pyOpenSSL
pyparsing
PySocks
pytesseract
python-barcode
python-bidi
python-dateutil
python-decouple
python-dotenv

qrcode
rdflib
regex
reportlab
requests
scikit-image
scikit-learn
scipy
seaborn
selenium
shapely
six
smmap
snowflake-connector-python
SQLAlchemy
sqlparse

# Streamlit and its extensions
streamlit
streamlit-aggrid
streamlit-apexjs
streamlit-autorefresh
streamlit-camera-input-live
streamlit-card
streamlit-elements
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-folium
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-pandas-profiling
streamlit-toggle-switch
streamlit-vertical-slider

sympy
tabulate
tenacity
tesseract
threadpoolctl
tifffile
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
validators
watchdog
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
xlrd
XlsxWriter
zipp
zope.event
zope.interface
